@page
@model Web_Market.Pages.MyCartModel
@{
}
<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="text-white">All Categories</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="/index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Category</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="left-sidebar-wrapper box-style">
                    <div class="sidebar-header">
                        <div class="image">
                            <img src="~/images/dashboard/profile-img.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Musharraf Karim</h3>
                            <p class="mb-30">Director at Uideck.com</p>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a asp-page="profile_settings"><i class="lni lni-cog"></i>Profile Settings</a>
                                </li>
                                <li>
                                    <a asp-page="post_ads"><i class="lni lni-cog"></i>Post Ad</a>
                                </li>
                                <li>
                                    <a asp-page="my_ads"><i class="lni lni-layers"></i>My Ads</a>
                                </li>
                                <li>
                                    <a asp-page="mycart" class="active"><i class="lni lni-layers"></i>My Cart</a>
                                </li>
                                <li>
                                    <a asp-page="offer"><i class="lni lni-envelope"></i>Offers / Message</a>
                                </li>
                                <li>
                                    <a asp-page="payments"><i class="lni lni-paypal"></i>Payments</a>
                                </li>
                                <li>
                                    <a asp-page="favorites"><i class="lni lni-heart"></i>My Favorites</a>
                                </li>
                                <li>
                                    <a asp-page="privacy"><i class="lni lni-star"></i>Privacy Settings</a>
                                </li>
                                <li>
                                    <a asp-page="login" asp-page-handler="signout">
                                        <i class="lni lni-exit"></i>Sign
                                        Out
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="dashboard-wrapper box-style">
                    <div class="title">
                        <h3>My Cart</h3>
                    </div>
                    <div class="product-container">
                        <div class="check-buy"><input type="checkbox" class="cart-item" /></div>
                        <article class="product">
                            <header>
                                <a class="remove">
                                    <img src="https://bucket.nhanh.vn/5c7368-24528/ps/20180321_8yifTA10WF2EV0KJA5kzjF68.png" alt="Gamming Mouse">

                                    <h3>Remove</h3>
                                </a>
                            </header>

                            <div class="content">

                                <h1>Mouse</h1>

                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, numquam quis perspiciatis ea ad omnis provident laborum dolore in atque.

                            </div>

                            <footer class="content">
                                <span class="qt-minus">-</span>
                                <span class="qt">2</span>
                                <span class="qt-plus">+</span>

                                <h2 class="full-price">
                                    29.98$
                                </h2>

                                <h2 class="price">
                                    14.99$
                                </h2>
                            </footer>
                        </article>
                    </div>
                    <div class="product-container">
                        <div class="check-buy"><input type="checkbox" class="cart-item" /></div>
                        <article class="product">
                            <header>
                                <a class="remove">
                                    <img src="https://bucket.nhanh.vn/5c7368-24528/ps/20180321_8yifTA10WF2EV0KJA5kzjF68.png" alt="Gamming Mouse">

                                    <h3>Remove</h3>
                                </a>
                            </header>

                            <div class="content">

                                <h1>Mouse</h1>

                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, numquam quis perspiciatis ea ad omnis provident laborum dolore in atque.

                            </div>

                            <footer class="content">
                                <span class="qt-minus">-</span>
                                <span class="qt">2</span>
                                <span class="qt-plus">+</span>

                                <h2 class="full-price">
                                    29.98$
                                </h2>

                                <h2 class="price">
                                    14.99$
                                </h2>
                            </footer>
                        </article>
                    </div>
                </div>
                <div class="dashboard-wrapper box-style">
                    <footer id="site-footer">
                        <div class="container clearfix">

                            <div class="left">
                                <h2 class="subtotal">Subtotal: <span>0</span>$</h2>
                                <h3 class="tax">Taxes (5%): <span>0</span>$</h3>
                            </div>

                            <div class="right">
                                <h1 class="total">Total: <span>0</span>$</h1>
                                <a class="btn" asp-page="checkoutcart" asp-page-handler="">Checkout</a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
