@page
@model Web_Market.Pages.OfferModel
@{
    ViewData["Title"] = "Offer";
}

    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">Offers and Messages</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Offers and Messages</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="left-sidebar-wrapper box-style">
                        <div class="sidebar-header">
                            <div class="image">
                                <img src="~/images/dashboard/profile-img.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Musharraf Karim</h3>
                                <p class="mb-30">Director at Uideck.com</p>
                            </div>
                        </div>
                    <div class="sidebar-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a asp-page="profile_settings"><i class="lni lni-cog"></i>Profile Settings</a>
                                </li>
                                <li>
                                    <a asp-page="post_ads"><i class="lni lni-cog"></i>Post Ad</a>
                                </li>
                                <li>
                                    <a asp-page="my_ads"><i class="lni lni-layers"></i>My Ads</a>
                                </li>
                                <li>
                                    <a asp-page="mycart"><i class="lni lni-layers"></i>My Cart</a>
                                </li>
                                <li>
                                    <a asp-page="offer"class="active"><i class="lni lni-envelope"></i>Offers / Message</a>
                                </li>
                                <li>
                                    <a asp-page="payments"><i class="lni lni-paypal"></i>Payments</a>
                                </li>
                                <li>
                                    <a asp-page="favorites"><i class="lni lni-heart"></i>My Favorites</a>
                                </li>
                                <li>
                                    <a asp-page="privacy"><i class="lni lni-star"></i>Privacy Settings</a>
                                </li>
                                <li>
                                    <a asp-page="login" asp-page-handler="signout"><i class="lni lni-exit"></i>Sign Out</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="dashboard-wrapper box-style">
                        <div class="title">
                            <h3>Offers and Messages</h3>
                        </div>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Photo
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Ad Status
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="image">
                                                <div class="form-check check-style">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                                </div>
                                                <img src="~/images/product/product-thumb-1.jpg" width="100" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <h6>8 GB DDR4 Ram, 4th Gen</h6>
                                            <span class="ad-id">Ad ID: ng3D5hAMHPajQrM</span>
                                        </td>
                                        <td>
                                            <span class="category">Ram & Laptop</span>
                                        </td>
                                        <td>
                                            <span class="status-btn">ACTIVE</span>
                                        </td>
                                        <td>
                                            <p>$20.99</p>
                                        </td>
                                        <td>
                                            <div class="action-btns">
                                                <a href="javascript:void(0)" class="eye-btn"><i class="lni lni-eye"></i></a>
                                                <a href="javascript:void(0)" class="edit-btn"><i class="lni lni-pencil"></i></a>
                                                <a href="javascript:void(0)" class="delete-btn"><i class="lni lni-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="image">
                                                <div class="form-check check-style">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                </div>
                                                <img src="~/images/product/product-thumb-1.jpg" width="100" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <h6>8 GB DDR4 Ram, 4th Gen</h6>
                                            <span class="ad-id">Ad ID: ng3D5hAMHPajQrM</span>
                                        </td>
                                        <td>
                                            <span class="category">Ram & Laptop</span>
                                        </td>
                                        <td>
                                            <span class="status-btn">ACTIVE</span>
                                        </td>
                                        <td>
                                            <p>$20.99</p>
                                        </td>
                                        <td>
                                            <div class="action-btns">
                                                <a href="javascript:void(0)" class="eye-btn"><i class="lni lni-eye"></i></a>
                                                <a href="javascript:void(0)" class="edit-btn"><i class="lni lni-pencil"></i></a>
                                                <a href="javascript:void(0)" class="delete-btn"><i class="lni lni-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="image">
                                                <div class="form-check check-style">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                                </div>
                                                <img src="~/images/product/product-thumb-1.jpg" width="100" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <h6>8 GB DDR4 Ram, 4th Gen</h6>
                                            <span class="ad-id">Ad ID: ng3D5hAMHPajQrM</span>
                                        </td>
                                        <td>
                                            <span class="category">Ram & Laptop</span>
                                        </td>
                                        <td>
                                            <span class="status-btn bg-light text-dark">INACTIVE</span>
                                        </td>
                                        <td>
                                            <p>$20.99</p>
                                        </td>
                                        <td>
                                            <div class="action-btns">
                                                <a href="javascript:void(0)" class="eye-btn"><i class="lni lni-eye"></i></a>
                                                <a href="javascript:void(0)" class="edit-btn"><i class="lni lni-pencil"></i></a>
                                                <a href="javascript:void(0)" class="delete-btn"><i class="lni lni-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="chat-wrapper">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-10 col-xl-4">
                                        <div class="chat-list-wrapper">
                                            <h5 class="mb-25">Users</h5>
                                            <ul class="chat-list">
                                                <li class="chat-item">
                                                    <a href="javascript:void(0)" class="chat-link">
                                                        <div class="image active">
                                                            <img src="~/images/testimonial/testimonial-1.png" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <h5>Sarah A. K.</h5>
                                                            <span>Online</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="chat-item">
                                                    <a href="javascript:void(0)" class="chat-link">
                                                        <div class="image active">
                                                            <img src="~/images/testimonial/testimonial-2.png" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <h5>John Doe</h5>
                                                            <span>Online</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="chat-item">
                                                    <a href="javascript:void(0)" class="chat-link">
                                                        <div class="image">
                                                            <img src="~/images/testimonial/testimonial-3.png" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <h5>Alone Musk</h5>
                                                            <span>Offline</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="chat-item">
                                                    <a href="javascript:void(0)" class="chat-link">
                                                        <div class="image active">
                                                            <img src="~/images/testimonial/testimonial-1.png" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <h5>Ena Shah</h5>
                                                            <span>Online</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="chat-item">
                                                    <a href="javascript:void(0)" class="chat-link">
                                                        <div class="image">
                                                            <img src="~/images/testimonial/testimonial-2.png" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <h5>John Doe</h5>
                                                            <span>Offline</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-12">
                                        <div class="message-wrapper">
                                            <h5 class="mb-25">Message</h5>
                                            <ul class="message-list">
                                                <li class="message-item">
                                                    <div class="image">
                                                        <img src="~/images/testimonial/testimonial-2.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">
                                                            <h5>John Doe</h5>
                                                            <p>Minus archi tecto quo velit enim shayik harum totam quod volu ptas quasi.</p>
                                                        </div>
                                                        <span>5 Mins ago</span>
                                                    </div>
                                                </li>
                                                <li class="message-item right">
                                                    <div class="content">
                                                        <div class="text">
                                                            <h5>John Doe</h5>
                                                            <p>Minus archi tecto quo velit enim shayik harum hm nayem segufa taranjum totam quod volu ptas quasi.</p>
                                                        </div>
                                                    </div>
                                                    <div class="image">
                                                        <img src="~/images/testimonial/testimonial-2.png" alt="">
                                                    </div>
                                                </li>
                                                <li class="message-item">
                                                    <div class="image">
                                                        <img src="~/images/testimonial/testimonial-2.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">
                                                            <h5>John Doe</h5>
                                                            <p>Shayik harum totam quod volu ptas quasi.</p>
                                                        </div>
                                                        <span>5 Mins ago</span>
                                                    </div>
                                                </li>
                                                <li>
<textarea name="message" id="message" rows="2" placeholder="Type here and press Enter"></textarea>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>
