@page
@model Web_Market.Pages.PaymentsModel
@{
    ViewData["Title"] = "Payments";
}

    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">Payments</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Payments</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="left-sidebar-wrapper box-style">
                        
                    <div class="sidebar-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a asp-page="profile_settings"><i class="lni lni-cog"></i>Profile Settings</a>
                                </li>
                                <li>
                                    <a asp-page="post_ads"><i class="lni lni-cog"></i>Post Ad</a>
                                </li>
                                <li>
                                    <a asp-page="my_ads"><i class="lni lni-layers"></i>My Ads</a>
                                </li>
                                <li>
                                    <a asp-page="mycart"><i class="lni lni-layers"></i>My Cart</a>
                                </li>
                                <li>
                                    <a asp-page="offer"><i class="lni lni-envelope"></i>Offers / Message</a>
                                </li>
                                <li>
                                    <a asp-page="payments" class="active"><i class="lni lni-paypal"></i>Payments</a>
                                </li>
                                <li>
                                    <a asp-page="favorites"><i class="lni lni-heart"></i>My Favorites</a>
                                </li>
                                <li>
                                    <a asp-page="privacy"><i class="lni lni-star"></i>Privacy Settings</a>
                                </li>
                                <li>
                                    <a asp-page="login" asp-page-handler="signout"><i class="lni lni-exit"></i>Sign Out</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="dashboard-wrapper box-style">
                        <div class="title">
                            <h3>Payments</h3>
                        </div>
                        <div class="payments-wrapper">
                            <form action="#">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="left-wrapper box-style mb-30">
                                            <h5 class="mb-25">Your Order</h5>
                                            <ul class="checkout">
                                                <li>
                                                    <h6>Product</h6>
                                                    <h6>Total</h6>
                                                </li>
                                                <li>
                                                    <p>CCG tv Camera</p>
                                                    <p>$340.00</p>
                                                </li>
                                                <li>
                                                    <p>CCG tv Camera</p>
                                                    <p>$340.00</p>
                                                </li>
                                                <li>
                                                    <p>CCG tv Camera</p>
                                                    <p>$340.00</p>
                                                </li>
                                                <li>
                                                    <p>CCG tv Camera</p>
                                                    <p>$340.00</p>
                                                </li>
                                                <li>
                                                    <h6>SubTotal</h6>
                                                    <p>$1220.00</p>
                                                </li>
                                                <li>
                                                    <h6>Shipping</h6>
                                                    <div class="right">
                                                        <div class="mb-2 text-right d-block">
                                                            <div class="form-check check-style">
                                                                <input class="form-check-input" type="checkbox" value="none" id="flexCheckDefault1">
                                                                <label for="flexCheckDefault1">Free Shipping</label>
                                                            </div>
                                                        </div>
                                                        <div class="text-right d-block">
                                                            <div class="form-check check-style">
                                                                <input class="form-check-input" type="checkbox" value="none" id="flexCheckDefault2">
                                                                <label for="flexCheckDefault2">Flat Shipping: $10.00</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h6>Total</h6>
                                                    <p>$1230.00</p>
                                                </li>
                                            </ul>
                                        </div>
                                    <div class="box-style">
                                        <div class="mb-20 d-flex justify-content-between">
                                            <h3>Grand Total: </h3>
                                            <h3>$1254</h3>
                                        </div>
                                        <button class="main-btn btn-hover btn-block">Place Order</button>
                                    </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="right-wrapper box-style mb-30">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="firstName">First name</label>
                                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                                                <div class="invalid-feedback"> Valid first name is required. </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="lastName">Last name</label>
                                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                                                <div class="invalid-feedback"> Valid last name is required. </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="username">Username</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="username" placeholder="Username" required="">
                                                <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                            <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="address">Address</label>
                                            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                                            <div class="invalid-feedback"> Please enter your shipping address. </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 mb-3">
                                                <label for="country">Country</label>
                                                <select class="form-select" id="country" required="">
                                                    <option value="">Choose...</option>
                                                    <option>United States</option>
                                                </select>
                                                <div class="invalid-feedback"> Please select a valid country. </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="state">State</label>
                                                <select class="form-select" id="state" required="">
                                                    <option value="">Choose...</option>
                                                    <option>California</option>
                                                </select>
                                                <div class="invalid-feedback"> Please provide a valid state. </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="zip">Zip</label>
                                                <input type="text" class="form-control" id="zip" placeholder="" required="">
                                                <div class="invalid-feedback"> Zip code required. </div>
                                            </div>
                                        </div>
                                        <hr class="mb-4">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>
