@page
@model Web_Market.Pages.Post_AdsModel
@{
    Layout = "_Layout";
}
    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">Post Ad</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Ads</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="left-sidebar-wrapper box-style">
                        
                        <div class="sidebar-menu">
                            <nav>
                                <ul>
                                    <li>
                                    <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                    </li>
                                    <li>
                                    <a asp-page="profile_settings"><i class="lni lni-cog"></i>Profile Settings</a>
                                    </li>
                                    <li>
                                    <a asp-page="post_ads" class="active"><i class="lni lni-cog"></i>Post Ad</a>
                                    </li>
                                    <li>
                                    <a asp-page="my_ads"><i class="lni lni-layers"></i>My Ads</a>
                                    </li>
                                    <li>
                                    <a asp-page="mycart"><i class="lni lni-layers"></i>My Cart</a>
                                </li>
                                    <li>
                                    <a asp-page="offers"><i class="lni lni-envelope"></i>Offers / Message</a>
                                    </li>
                                    <li>
                                    <a asp-page="payments"><i class="lni lni-paypal"></i>Payments</a>
                                    </li>
                                    <li>
                                        <a asp-page="favorites"><i class="lni lni-heart"></i>My Favorites</a>
                                    </li>
                                    <li>
                                        <a asp-page="privacy"><i class="lni lni-star"></i>Privacy Settings</a>
                                    </li>
                                    <li>
                                        <a asp-page="login" asp-page-handler="signout"><i class="lni lni-exit"></i>Sign Out</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            
                <div class="col-xl-9 col-lg-8">
                    <div class="post-ad-wrapper box-style">
                        <div class="title">
                            <h3>Post Ad</h3>
                        </div>
                        <div class="post-ad-form-wrapper">
                        <form asp-page-handler="addproduct" method="post">
                                <div class="row">
                                    <div class="col-xl-7">
                                        <div class="left-wrapper pt-50">
                                            <h5 class="mb-25">Ad Details</h5>
                                            <div class="single-form mb-15">
                                                <label for="title" class="mb-1">Project Title</label>
                                            <input type="text" id="title" name="ProductName" placeholder="Title" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <span for="category" class="mb-1">Categories:</span>
                                                <br>
                                               
                                                @foreach(var o in Model.listCategory)
                                                {
                                                    <div style="display: inline-block;">
                                                    <input style="width: 2em;" type="checkbox" name="ProductCategory" id="cat-@o.CategoryId" value="@o.CategoryId" />
                                                    <label for="cat-@o.CategoryId">@o.CategoryName</label>
                                                    </div>
                                                }
                                                
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="price" class="mb-1">Price</label>
                                                <input type="text" id="price" name="price" placeholder="Price" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <div class="form-check check-style">
                                                    <input class="form-check-input" type="checkbox" value="none" id="flexCheckDefault1">
                                                    <label for="flexCheckDefault1">Price On Call</label>
                                                </div>
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="description" class="mb-1">Description</label>
<textarea name="ProductDescription" id="description" rows="5" placeholder="Description" class="px-3 py-2 mb-0 border rounded"></textarea>
                                            </div>
                                            <div class="single-form">
                                                <div class="upload-input">
                                                    <input type="file" id="upload" name="upload">
                                                    <label for="upload" class="text-center content">
                                                        <span class="text">
                                                            <span class="d-block mb-15">Drop files anywhere to Upload</span>
                                                            <span class="d-block mb-15">Or</span>
                                                            <span class="main-btn btn-hover">Select File</span>
                                                            <span class="d-block">Maximum upload file size 10Mb</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5">
                                        <div class="right-wrapper pt-50">
                                            <div class="single-form mb-15">
                                                <div class="form-check check-style">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                                    <label for="flexCheckDefault4">I agree to all Terms of Use & Posting Rules</label>
                                                </div>
                                            </div>
                                            <button class="main-btn btn-hover" type="submit">Post Ad</button>
                                        @{
                                            if (ViewBag.message != null)
                                            {
                                                <span class="text-success">
                                                    Thank you alot!Add product done
                                                </span>
                                            }
                                            if (ViewBag.error != null)
                                            {
                                                <span class="text-danger">
                                                    Thank you alot!,But Add false
                                                </span>
                                            }
                                        }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>
