@page
@model Web_Market.Pages.Profile_SettingsModel
@{
    ViewData["Title"] = "Profile setting";
}

    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">Profile Settings</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile setting</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="left-sidebar-wrapper box-style">
                        
                        <div class="sidebar-menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a asp-page="/admin/dashboard"><i class="lni lni-dashboard"></i>Dashboard</a>
                                    </li>
                                    <li>
                                    <a asp-page="profile_settings" class="active"><i class="lni lni-cog"></i>Profile Settings</a>
                                    </li>
                                    <li>
                                    <a asp-page="post_ads"><i class="lni lni-cog"></i>Post Ad</a>
                                    </li>
                                    <li>
                                    <a asp-page="my_ads"><i class="lni lni-layers"></i>My Ads</a>
                                    </li>
                                    <li>
                                    <a asp-page="mycart"><i class="lni lni-layers"></i>My Cart</a>
                                    </li>
                                    <li>
                                    <a asp-page="offer"><i class="lni lni-envelope"></i>Offers / Message</a>
                                    </li>
                                    <li>
                                    <a asp-page="payments"><i class="lni lni-paypal"></i>Payments</a>
                                    </li>
                                    <li>
                                    <a asp-page="favorites"><i class="lni lni-heart"></i>My Favorites</a>
                                    </li>
                                    <li>
                                    <a asp-page="privacy"><i class="lni lni-star"></i>Privacy Settings</a>
                                    </li>
                                    <li>
                                    <a asp-page="login" asp-page-handler="signout"><i class="lni lni-exit"></i>Sign Out</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="post-ad-wrapper box-style">
                        <div class="title">
                            <h3>Profile Settings</h3>
                        </div>
                        <div class="post-ad-form-wrapper">
                            <form action="#">
                                <div class="row">
                                    <div class="col-xl-7">
                                        <div class="right-wrapper pt-50">
                                            <h5 class="mb-25">Edit Profile</h5>
                                            <div class="single-form mb-15">
                                                <label for="name" class="mb-1">Name</label>
                                                <input type="text" id="name" name="name" placeholder="Name" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="email" class="mb-1">Email</label>
                                                <input type="text" id="email" name="email" placeholder="Email" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="password" class="mb-1">Old Password</label>
                                                <input type="password" id="password" name="password" placeholder="Password" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="password2" class="mb-1">Chose Password</label>
                                                <input type="password" id="password2" name="password2" placeholder="Password" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="phone" class="mb-1">Phone*</label>
                                                <input type="text" id="phone" name="phone" placeholder="Phone" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="address" class="mb-1">Enter Address</label>
                                                <input type="text" id="address" name="address" placeholder="Enter Address" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="country" class="mb-1">Country</label>
                                                <select name="country" id="country" class="px-3 py-2 border rounded w-100">
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                </select>
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="state" class="mb-1">State</label>
                                                <select name="state" id="state" class="px-3 py-2 border rounded w-100">
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                </select>
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="city" class="mb-1">City</label>
                                                <select name="city" id="city" class="px-3 py-2 border rounded w-100">
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                </select>
                                            </div>
                                            <button class="main-btn btn-hover">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>
